#root {
  margin: 0 auto;
  padding: 2rem;
  
}

.streak{
  display: flex;
  justify-content: right;
  align-items: center;
}

.logContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logButton{
  display: flex;
  justify-content: right;
  align-items: center;
}

.goals{
  display: flex;
  flex-direction: column;
}

.vertSpread{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}