#root {
  margin: 0 auto;
  padding: 2rem;
  
}

.streak{
  display: flex;
  justify-content: right;
  align-items: center;
}

.logContainer{
  display: flex;
  flex-direction: row;
}

.logRight{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.logLeft{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}