:root {
  font-family: 'Platypi Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  color-scheme: light;
  --color-text:          #2d426e;
  --color-textheader:    #dae1f1;
  --color-background:    #91a2c9;
  --color-box:           #b1beda;
  --color-surface:       #f9f9f9;
  --color-primary:       #646cff;
  --color-primary-hover: #747bff;
  --color-header:        #273A63;

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-header);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

h1 {
  font-size: 2.75em;
  line-height: 1.1;
  color: var(--color-textheader)
}

h2 {
  font-size: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-surface);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}